<% include partials/header %>

<div class="container">
    <div class="jumbotron">
        <h1><%= campground.name %></h1>
    </div>
    <div>
        <img src=<%=campground.image%>
    </div>
    <p>
        <% if(campground.description) { %>
            <%= campground.description %>
        <% } else { %> 
            (Description needed)
        <% } %>
    </p>
    <h3>Comments</h3>
    <% campground.comments.forEach(function(comment) { %>
        <li><%= comment.text %> <em>(<%=comment.author%>)</em>
    <% }) %>
</div>



<% include partials/footer %>