<% include ../partials/header %>

    <div class="container">
        <div class="center">
            <h1>Update
                <%= campground.name %>
            </h1>
        </div>
        <div class="row">
            <div class="siteform">
                <form method='POST' action='/campgrounds/<%= campground.id %>?_method=PUT'>
                    <div class="form-group">
                        <input class="form-control" type="text" name="camp[name]" placeholder="site name" value="<%=campground.name%>" " autofocus>
                </div>
                <div class="form-group ">
                        <input class="form-control " type="text " name="camp[image] " placeholder="site image URL
                            " value="<%=c ampground.image %>">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="camp[description]" placeholder="description" value="<%= campground.description %>">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-default btn-primary btn-block">Update Site</button>
                    </div>
                </form>
                <a href="/campgrounds">Or don't</a>
            </div>
        </div>
    </div>
    <% include ../partials/footer %>